@model IEnumerable<ViewBasedAuthorization.Models.ImageFileDTO>
@inject IAuthorizationService AuthorizationService
@{
    
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, new ImageFileDTO(), Operations.Create)).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@if ((await AuthorizationService.AuthorizeAsync(User, new ImageFileDTO(), Operations.Read)).Succeeded)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileUrl)
                    </td>
                    <td>
                        @if ((await AuthorizationService.AuthorizeAsync(User, new ImageFileDTO(), Operations.Update)).Succeeded)
                        {
                            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  })
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, new ImageFileDTO(), Operations.Delete)).Succeeded)
                        {
                            @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}